.img-circle {
	width:280px;
	height:280px;
}

.package {
	background-color: #909090  ;
	color: white;
	width: 100%;
	text-align: center;
}

.package .row_first {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	font-family: 'ChunkFiveRegular','Open Sans',sans-serif;
}

.package .row_second {
	margin-top: 20px;
}

.package div {
	margin-top: 20px;
	font-weight: bold;
}

.package .row_last {
	height: 100px;
}