.img-circle {
	width:280px;
	height:280px;
}

.package {
	background-color: #404040 ;
	color: white;
	width: 100%;
}

.package .row_first {
	font-size: 30px;
	font-weight: bold;
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
	font-family: 'ChunkFiveRegular','Open Sans',sans-serif;
}

.package .row_second {
	margin-top: 20px;
}

.package div {
	height: 40px;
	font-weight: bold;
}

.package .row_last {
	height: 100px;
}